@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

.background-img {
    position: fixed;
    top: 0px;
    width: 100%;
   
}

.upside-down-background-img {
    position: fixed;
    bottom: 0px;
    width: 100%;
    transform: scale(-1, -1);
    filter: brightness(105%);
}

body {
    
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
    padding: 0;
}

.card {
    position: absolute;
    height: 550px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    border-radius: 30px;
    background: white;
}

.annualplancard {
    display: grid;
    grid: 1fr
          / 1fr 3fr 1fr;
    background: hsl(225, 100%, 98%);
    align-content: center;
    align-items: center;
    width: 350px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    
}

h3 {
    text-align: start;
}

.music-note {
    display: block;
    margin: 0 auto;
}

.change-button {
    display: block;
    margin: 0 auto;
    margin-right: 10px;

    background: none;
    border: none;
    font-family: 'Red Hat Display', sans-serif;
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
}

.change-button:hover {
    text-decoration: none;
    color: hsl(245, 75%, 75%);


}

.innercard {
    text-align: start;
}



p {
    color: hsl(224, 6%, 51%);
    font-size: 16px;
    width: 80%;
    

}

h1 {
    font-weight: 900;
    height: 25px;

}

.dancing-girl {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    width: 100.4%;

}

h3 {
    
    font-weight: 700;

}

.price {
    color: hsl(224, 6%, 51%);
    font-size: 15px;
}

.payment-button {
    background-color: hsl(245, 75%, 52%);
    height: 40px;
    width: 250px;
    box-shadow: 0 8px 16px 0 hsl(245, 75%, 90%), 0 6px 20px 0 hsl(245, 75%, 90%);
    border-radius: 15px;
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    border: none;
    font-size: 13px;
    font-weight: 700;
    margin: 15px 0px;
}

.payment-button:hover {
    background-color: hsl(245, 75%, 65%);
}

.cancel-order-button {
    background: none;
    border: none;
    font-family: 'Red Hat Display', sans-serif;
    color: hsl(224, 6%, 51%);
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;

}

.cancel-order-button:hover {
    color: black;
}

@media only screen and (max-width: 375px) {
   .card {
       width: 300px;
       justify-content: space-between;
       border: none;
      
   }

   .annualplancard {
       width: 90%;
       height: 70px;
       font-size: 11px;
   }

   h3 {
       margin-left: 20px;
   }

   .music-note {
       height: 40px;

   }
  
   .cancel-order-button {
       margin-bottom: 25px;
   }

   .payment-button {
       height: 10%;
   }

   .background-img {
   
    width: 400%;
   
}

.upside-down-background-img {
 
    width: 400%;
  
}




}